* {
    margin: 10;
    border: 10;
    padding: 10;
}

img {
    width: 30px;
}
body {
    background-image: url("background-banner.png");
  }

.links-container {
    display: flex;
}
.links-items {
    display: flex;
    justify-content: flex-end;
    width: 1800px;
}

.header-container {
    display: flex;
    justify-content: center;
}
.header-items {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.menu-items {
    
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    color: white;
    flex-direction: row;
}
button {
    font-size: large;
    width: 150px;
    background-color: rgb(193, 167, 203);
}

#bio-pic {
    width: 200px;
}
.bio-container {
    display: flex;
    justify-content: center;
}
.bio-section-items {
    border: 2px white solid;
    padding: 10px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    width: 570px;
    display: flex;
}
.bio-description {
    padding-left: 15px;
}

#music-page-width {
    width: 150px;
    height: auto;
}

.music-container {
    display: flex;
    justify-content: center;
}
.music-section-items {
    border: 2px white solid;
    padding: 30px 10px 30px 10px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    width: 570px;
    display: flex;
    justify-content: center;
}

.show-container {
    display: flex;
    justify-content: center;

}
.show-items {
    border: 2px white solid;
    padding: 30px 10px 30px 10px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    width: 570px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.month-set {
    width: 300px;
}
.january-container {
    display: flex;
}
.january-items {
    display: flex;
}
.january-show-items {
    padding-left: 30px;
}

.february-container {
    display: flex;
    justify-content: flex-end;
}
.february-items {
    display: flex;
    justify-content: flex-end;
}
.february-show-items {
    padding-right: 30px;
}

.march-container {
    display: flex;
}
.march-items {
    display: flex;
}
.march-show-items {
    padding-left: 30px;
}

